# 1. 데이터 형태 파악

In [33]:
import pandas as pd

# CSV 파일로부터 데이터 불러오기
# data = pd.read_csv('[24-2 DS_Project1] Data_Submission/[24-2 DS_Project1] Data.csv') -> 원본파일 이름
data = pd.read_csv('/Users/gidaseul/Documents/GitHub/DS/datas/train.csv')

# 데이터프레임의 기본 정보 확인
print("데이터 정보:\n", data.info())  # 각 열의 타입, 결측치 등을 확인

# 데이터의 첫 몇 줄 확인
print("데이터 첫 5줄:\n", data.head())

# 데이터의 컬럼명 확인
print("컬럼명:\n", data.columns)

# 결측치 확인
print("결측치:\n", data.isnull().sum())

# 기술 통계 확인
print("기술 통계:\n", data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1644768 entries, 0 to 1644767
Data columns (total 28 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   User                           1644768 non-null  int64
 1   Gender                         1644768 non-null  int64
 2   Current Age                    1644768 non-null  int64
 3   Retirement Age                 1644768 non-null  int64
 4   Birth Year                     1644768 non-null  int64
 5   Birth Month                    1644768 non-null  int64
 6   Zipcode                        1644768 non-null  float64
 7   Per Capita Income - Zipcode    1644768 non-null  int64
 8   Yearly Income                  1644768 non-null  float64
 9   Total Debt                     1644768 non-null  float64
 10  Credit Score                   1644768 non-null  int64
 11  Year                           1644768 non-null  int64
 12  Month                          1644768 non-null  int64
 13  Day                            1644768 non-null  int64
 14  Merchandise Code               1644768 non-null  int64
 15  Card                           1644768 non-null  int64
 16  Card Brand                     1644768 non-null  object
 17  Card Type                      1644768 non-null  object
 18  Card Number                    1644768 non-null  float64
 19  Expires                        1644768 non-null  object
 20  Has Chip                       1644768 non-null  bool
 21  Credit Limit                   1644768 non-null  int64
 22  Acct Open Date                 1644768 non-null  object
 23  Year PIN last Changed          1644768 non-null  int64
 24  Amount                         1644768 non-null  float64
 25  Whether Security Chip is Used  1644768 non-null  int64
 26  Error Message                  25766 non-null    object
 27  Is Fraud?                      1644768 non-null  object
dtypes: bool(1), float64(5), int64(16), object(6)
memory usage: 340.4+ MB
데이터 정보:
 None
데이터 첫 5줄:
    User  Gender  Current Age  Retirement Age  Birth Year  Birth Month  \
0     0       0           53              66        1966           11
1     0       0           53              66        1966           11
2     0       0           53              66        1966           11
3     0       0           53              66        1966           11
4     0       0           53              66        1966           11

   Zipcode  Per Capita Income - Zipcode  Yearly Income    Total Debt  ...  \
0   8250.0                     17420410     52077100.0  9.088794e+07  ...
1   8250.0                     17420410     52077100.0  9.088794e+07  ...
2   8250.0                     17420410     52077100.0  9.088794e+07  ...
3   8250.0                     17420410     52077100.0  9.088794e+07  ...
4   8250.0                     17420410     52077100.0  9.088794e+07  ...

    Card Number  Expires  Has Chip  Credit Limit  Acct Open Date  \
0  5.655323e+15  12/2022      True      14455525         09/2002
1  5.655323e+15  12/2022      True      14455525         09/2002
2  5.655323e+15  12/2022      True      14455525         09/2002
3  5.655323e+15  12/2022      True      14455525         09/2002
4  5.655323e+15  12/2022      True      14455525         09/2002

   Year PIN last Changed    Amount Whether Security Chip is Used  \
0                   2008   84600.0                             0
1                   2008   72100.0                             0
2                   2008    3300.0                             1
3                   2008   56800.0                             0
4                   2008  104600.0                             0

   Error Message Is Fraud?
0            NaN        No
1            NaN        No
2            NaN        No
3            NaN        No
4            NaN        No

[5 rows x 28 columns]
컬럼명:
 Index(['User', 'Gender', 'Current Age', 'Retirement Age', 'Birth Year',
       'Birth Month', 'Zipcode', 'Per Capita Income - Zipcode',
       'Yearly Income', 'Total Debt', 'Credit Score', 'Year', 'Month', 'Day',
       'Merchandise Code', 'Card', 'Card Brand', 'Card Type', 'Card Number',
       'Expires', 'Has Chip', 'Credit Limit', 'Acct Open Date',
       'Year PIN last Changed', 'Amount', 'Whether Security Chip is Used',
       'Error Message', 'Is Fraud?'],
      dtype='object')
결측치:
 User                                   0
Gender                                 0
Current Age                            0
Retirement Age                         0
Birth Year                             0
Birth Month                            0
Zipcode                                0
Per Capita Income - Zipcode            0
Yearly Income                          0
Total Debt                             0
Credit Score                           0
Year                                   0
Month                                  0
Day                                    0
Merchandise Code                       0
Card                                   0
Card Brand                             0
Card Type                              0
Card Number                            0
Expires                                0
Has Chip                               0
Credit Limit                           0
Acct Open Date                         0
Year PIN last Changed                  0
Amount                                 0
Whether Security Chip is Used          0
Error Message                    1619002
Is Fraud?                              0
dtype: int64
기술 통계:
                User        Gender   Current Age  Retirement Age    Birth Year  \
count  1.644768e+06  1.644768e+06  1.644768e+06    1.644768e+06  1.644768e+06
mean   1.004376e+03  4.835892e-01  5.229045e+01    6.637021e+01  1.966894e+03
std    5.695082e+02  4.997308e-01  1.622627e+01    3.570074e+00  1.621924e+01
min    0.000000e+00  0.000000e+00  2.000000e+01    5.000000e+01  1.918000e+03
25%    5.170000e+02  0.000000e+00  4.000000e+01    6.500000e+01  1.957000e+03
50%    1.010000e+03  0.000000e+00  5.000000e+01    6.600000e+01  1.969000e+03
75%    1.479000e+03  1.000000e+00  6.200000e+01    6.800000e+01  1.979000e+03
max    1.999000e+03  1.000000e+00  1.010000e+02    7.900000e+01  1.999000e+03

        Birth Month       Zipcode  Per Capita Income - Zipcode  Yearly Income  \
count  1.644768e+06  1.644768e+06                 1.644768e+06   1.644768e+06
mean   6.519760e+00  4.988484e+04                 1.425004e+07   2.792330e+07
std    3.575366e+00  2.965987e+04                 6.912591e+06   1.552382e+07
min    1.000000e+00  4.920000e+02                 0.000000e+00   5.000000e+02
25%    3.000000e+00  2.265400e+04                 1.017688e+07   1.834940e+07
50%    7.000000e+00  5.387600e+04                 1.262530e+07   2.457150e+07
75%    1.000000e+01  7.229600e+04                 1.641546e+07   3.386700e+07
max    1.200000e+01  9.889300e+04                 9.707128e+07   1.578132e+08

         Total Debt  ...       Year         Month           Day  \
count  1.644768e+06  ...  1644768.0  1.644768e+06  1.644768e+06
mean   3.623609e+07  ...     2018.0  6.558884e+00  1.573131e+01
std    3.406705e+07  ...        0.0  3.446594e+00  8.798610e+00
min    0.000000e+00  ...     2018.0  1.000000e+00  1.000000e+00
25%    1.014754e+07  ...     2018.0  4.000000e+00  8.000000e+00
50%    3.117703e+07  ...     2018.0  7.000000e+00  1.600000e+01
75%    5.165649e+07  ...     2018.0  1.000000e+01  2.300000e+01
max    3.171627e+08  ...     2018.0  1.200000e+01  3.100000e+01

       Merchandise Code          Card   Card Number  Credit Limit  \
count      1.644768e+06  1.644768e+06  1.644768e+06  1.644768e+06
mean       5.554929e+03  1.273811e+00  5.163251e+15  9.160743e+06
std        8.810854e+02  1.369525e+00  1.289868e+15  7.107103e+06
min        1.711000e+03  0.000000e+00  3.005502e+15  0.000000e+00
25%        5.300000e+03  0.000000e+00  4.420395e+15  4.641000e+06
50%        5.499000e+03  1.000000e+00  4.894334e+15  8.032500e+06
75%        5.812000e+03  2.000000e+00  5.504827e+15  1.229270e+07
max        9.402000e+03  8.000000e+00  9.699390e+15  8.412764e+07

       Year PIN last Changed        Amount  Whether Security Chip is Used
count           1.644768e+06  1.644768e+06                   1.644768e+06
mean            2.011822e+03  2.534947e+04                   4.642527e-01
std             3.052586e+00  5.458708e+04                   7.668795e-01
min             2.002000e+03 -7.408000e+05                   0.000000e+00
25%             2.010000e+03  3.500000e+03                   0.000000e+00
50%             2.011000e+03  1.400000e+04                   0.000000e+00
75%             2.014000e+03  3.590000e+04                   1.000000e+00
max             2.020000e+03  2.936700e+06                   2.000000e+00

[8 rows x 21 columns]

In [34]:
# 전체 컬럼의 고유값과 고유값의 개수 확인
for column in data.columns:
    unique_values = data[column].unique()
    unique_count = len(unique_values)
    print(f"Column '{column}' has {unique_count} unique values:")
    print(unique_values)
    print("-" * 50)

Column 'User' has 1509 unique values:
[   0    1    2 ... 1997 1998 1999]
--------------------------------------------------
Column 'Gender' has 2 unique values:
[0 1]
--------------------------------------------------
Column 'Current Age' has 78 unique values:
[ 53  81  63  43  42  36  34  48  41  54  76  66  70  40  37  49  21  47
  51  46  59  91  79  57  60  61  55  45  44  29  28  82  90  30  65  87
  58  25  32  64  52  23  33  75  62  56  35  26  24  39  86  67  83  68
  92  84  27  20  38  80  31  50  77  88 101  74  73  85  78  72  69  71
  89  98  22  93  94  99]
--------------------------------------------------
Column 'Retirement Age' has 28 unique values:
[66 68 67 63 70 60 62 71 64 58 72 65 55 75 73 57 59 69 56 61 54 78 74 79
 53 76 50 77]
--------------------------------------------------
Column 'Birth Year' has 77 unique values:
[1966 1938 1957 1976 1977 1983 1986 1985 1971 1978 1943 1953 1949 1979
 1982 1970 1998 1972 1968 1973 1961 1929 1941 1962 1959 1958 1964 1960
 1975 1991 1937 1956 1989 1955 1932 1994 1965 1987 1967 1996 1944 1963
 1984 1993 1974 1992 1980 1933 1952 1936 1951 1927 1945 1935 1999 1981
 1939 1950 1995 1988 1969 1942 1931 1918 1954 1946 1934 1990 1947 1940
 1928 1948 1930 1921 1997 1926 1920]
--------------------------------------------------
Column 'Birth Month' has 12 unique values:
[11 12  1  9 10  7  5  4  8  6  2  3]
--------------------------------------------------
Column 'Zipcode' has 1404 unique values:
[ 8250. 88637.  8208. ... 58949. 92799. 96946.]
--------------------------------------------------
Column 'Per Capita Income - Zipcode' has 1366 unique values:
[17420410 22545145 13495195 ... 14409710  9029125 19233375]
--------------------------------------------------
Column 'Yearly Income' has 1506 unique values:
[52077100. 51312000. 27915400. ... 14744200. 31497700. 45396400.]
--------------------------------------------------
Column 'Total Debt' has 1432 unique values:
[9.08879388e+07 1.50332099e+08 1.17782714e+05 ... 3.64665191e+07
 1.97322812e+07 8.40220193e+07]
--------------------------------------------------
Column 'Credit Score' has 420 unique values:
[ 779  759  735  747  744  640  687  703  500  685  730  692  668  803
  616  738  620  736  713  651  540  741  732  726  733  709  745  686
  608  748  875  740  697  830  780  534  711  644  781  784  639  810
  669  631  684  680  729  564  782 1010  632  606  617  658  653  628
  676  837  776  675  662  576  925  683  689  700  643  682  845  897
  725  607  773  702  870  743  707  690  614  739  677  624  688  597
  952  693  710  701  775  795  737  756  720  553  753  650  641  717
  770  586  627  646  819  696  654  642  796  578  812  965  723  977
  708  544  763  852  656  813  664  727  919  546  503  884  850  670
  797  618  746  605  805  911  560  754  793  718  764  665  633  569
  660  623  846  762  507  761  563  855  801  667  871  671  946  821
  865 1057  755  502  574  816  714  827  838  778  547  533  483  611
  783  635  659  621  558  679  862  453  699  922  649  484  719  800
  531  590  663  622  655  789  794  636  625  914  765  840  674  585
  523  716  874  591  818  760  832  712  672  859  535  917  822  721
  626  598  583  809  836  814  768  826  573  758  767  912  807  802
  731  661  828  490  705  630  734  895  808  645  545  566  868  595
  835  527  787  634  565  785  648  798  580  657  504  887  834  571
  817  678  941  880  549  610  704  722  637  505  501  815  820  588
  831  749  769  603  771  486  706  647  923  559  695  907  811  587
  567  480  824  594  864  593  892  550  652  842  673  792  979  456
  751  698  538 1013  612  465  403  934  715  860  548  532  969  599
  869  543  833  579  467  681  562  879  788  506  541  694 1041  536
  909  464  557  791  867  873  570  404  750  839  600  691  757  766
  724  572  931  903  861  886  777  872  589  804  577  878  905  520
  806  489  752  629  920  498  537  772  910  851  638  790  445  849
  848  433  561  904  829  902  843  568  512  510  604  436  521  877
  786  609  581  938  615  856  825  556  582  447  493  882 1009  552
  890  953  602  619  601  613  896  487  666  799  575  847  596  528
  841  728  857  898  885  529 1008  908  991  823  470  429  972  926]
--------------------------------------------------
Column 'Year' has 1 unique values:
[2018]
--------------------------------------------------
Column 'Month' has 12 unique values:
[ 1  2  3  4  5  6  7  8  9 10 11 12]
--------------------------------------------------
Column 'Day' has 31 unique values:
[ 2  5  6 11 13 17 18 19 20 21 23 24 26 28 30  1  3 22 25 27  7  8 10 15
 29  9 16 12 31 14  4]
--------------------------------------------------
Column 'Merchandise Code' has 109 unique values:
[5912 5411 5815 5541 5499 5814 5311 5300 4814 5942 4829 4511 4900 7538
 5310 5812 4899 7210 4214 5251 5921 7542 5651 7832 5813 3640 5970 3504
 5211 7995 5193 7349 7230 5655 3684 7996 6300 5719 3730 3393 5621 3395
 5947 1711 3000 4722 3387 5261 3389 9402 3771 5712 8011 3174 3359 3001
 3058 3256 5661 7011 3005 3596 8062 3132 4784 3390 3722 4111 3780 5932
 5045 4121 3509 3775 8043 4131 3405 3008 8041 8049 4112 7922 3260 8021
 5732 5941 7549 8111 3066 8931 5533 5816 7276 7531 7802 3144 5977 8099
 7801 5094 7393 5192 5733 3007 4411 3006 3009 5722 3075]
--------------------------------------------------
Column 'Card' has 9 unique values:
[0 1 2 3 4 5 6 7 8]
--------------------------------------------------
Column 'Card Brand' has 3 unique values:
['Visa' 'Mastercard' 'Others']
--------------------------------------------------
Column 'Card Type' has 3 unique values:
['Debit' 'Credit' 'Debit (Prepaid)']
--------------------------------------------------
Column 'Card Number' has 3777 unique values:
[5.65532349e+15 5.04303403e+15 5.41768652e+15 ... 5.28148252e+15
 4.07048780e+15 5.00598868e+15]
--------------------------------------------------
Column 'Expires' has 60 unique values:
['12/2022' '12/2020' '02/2024' '08/2024' '07/2022' '06/2022' '11/2020'
 '02/2023' '03/2022' '07/2023' '06/2020' '06/2024' '01/2022' '09/2021'
 '11/2022' '04/2022' '12/2021' '01/2021' '02/2021' '07/2024' '06/2023'
 '12/2024' '06/2021' '03/2024' '03/2023' '08/2022' '09/2024' '02/2022'
 '10/2024' '10/2020' '01/2024' '02/2020' '05/2022' '11/2021' '11/2023'
 '10/2023' '03/2021' '08/2023' '09/2022' '05/2024' '10/2021' '03/2020'
 '07/2021' '04/2021' '11/2024' '05/2021' '01/2020' '09/2023' '09/2020'
 '12/2023' '05/2020' '04/2023' '04/2020' '08/2021' '08/2020' '10/2022'
 '04/2024' '05/2023' '07/2020' '01/2023']
--------------------------------------------------
Column 'Has Chip' has 2 unique values:
[ True False]
--------------------------------------------------
Column 'Credit Limit' has 2456 unique values:
[14455525 13070960 27616330 ... 10184020  1468460  9766925]
--------------------------------------------------
Column 'Acct Open Date' has 288 unique values:
['09/2002' '04/2014' '07/2003' '01/2003' '02/2011' '06/2010' '07/2006'
 '10/2009' '03/2002' '09/2009' '02/2007' '11/2010' '12/1999' '01/2002'
 '11/2005' '06/2005' '09/2010' '10/2014' '11/2009' '09/2017' '01/2005'
 '01/2012' '07/2009' '01/2007' '12/2008' '12/2012' '08/2007' '08/2016'
 '06/2002' '01/2008' '08/2013' '08/2003' '12/2009' '02/2000' '03/2009'
 '02/2004' '07/2002' '11/2014' '09/2001' '05/2005' '03/2012' '10/2006'
 '08/2008' '10/2010' '05/2010' '10/2016' '08/2005' '12/2003' '03/2006'
 '03/2005' '12/2017' '01/2014' '03/2001' '02/2009' '06/2007' '04/2008'
 '11/2003' '07/2012' '12/2016' '08/2011' '03/2013' '12/2010' '08/2014'
 '04/2005' '04/2010' '11/2012' '07/2004' '05/2011' '07/2001' '03/2000'
 '11/2001' '11/2007' '05/2016' '02/2010' '09/2008' '12/2007' '04/2002'
 '12/2006' '02/2013' '10/2008' '07/2007' '01/2011' '12/2015' '10/2011'
 '04/2009' '04/2018' '06/2013' '09/2011' '03/2008' '05/1999' '09/2014'
 '02/2006' '04/2012' '11/2006' '04/1996' '11/2004' '08/2001' '12/2002'
 '08/2010' '10/2004' '01/2010' '07/2011' '11/2002' '12/2014' '05/2008'
 '10/2000' '10/2007' '07/2008' '05/2000' '01/1999' '06/2009' '02/2012'
 '06/2016' '07/2010' '06/1999' '06/2006' '06/2003' '05/2009' '01/1997'
 '06/2018' '10/2002' '08/1999' '06/2011' '07/2005' '05/2007' '08/2009'
 '04/2011' '02/1999' '01/2000' '05/2013' '04/2019' '05/2017' '06/2015'
 '07/2018' '01/2015' '11/2008' '02/2002' '05/2002' '10/2003' '06/2008'
 '10/2018' '12/2018' '01/2018' '02/2003' '04/2007' '02/2015' '02/2014'
 '11/2011' '02/1996' '01/2006' '07/2015' '12/2004' '09/2012' '04/2004'
 '09/2015' '04/2006' '12/1996' '06/2004' '03/2007' '11/2017' '06/1998'
 '01/2001' '04/2016' '01/2009' '09/2004' '03/1997' '04/2000' '09/2006'
 '11/1999' '06/2001' '09/2005' '05/2014' '02/2008' '10/2013' '06/2012'
 '12/2011' '11/2016' '03/2010' '08/2000' '04/2015' '09/2007' '03/2003'
 '08/2012' '02/2005' '07/2017' '02/2016' '08/2004' '08/2018' '09/1996'
 '04/2017' '12/2001' '04/2003' '10/2012' '12/2013' '05/2004' '06/2017'
 '01/2013' '11/2013' '07/2000' '05/2015' '09/2003' '05/2012' '01/2019'
 '06/2014' '12/1997' '03/2004' '05/2003' '07/2014' '04/2001' '11/2018'
 '02/2017' '10/2005' '08/1996' '03/1998' '04/1999' '02/2018' '10/2001'
 '03/2014' '09/2013' '05/1996' '03/2016' '10/1999' '08/2006' '09/1998'
 '12/2005' '04/1994' '07/2013' '04/1998' '08/2015' '03/2017' '04/2013'
 '12/1991' '10/1998' '12/2000' '07/2016' '08/2002' '05/2001' '09/2018'
 '10/2015' '01/2016' '01/2004' '06/2000' '05/1998' '03/2015' '10/2017'
 '07/1998' '02/1998' '09/2016' '05/2006' '03/1993' '09/1995' '03/2018'
 '02/2001' '08/1997' '01/1991' '03/2011' '11/1997' '05/1997' '10/1996'
 '04/1993' '06/2019' '11/2015' '09/2000' '07/1999' '08/1994' '01/2017'
 '11/1996' '08/2017' '04/1997' '01/1995' '12/1998' '05/2018' '09/1999'
 '11/1994' '12/1992' '01/1994' '10/1997' '06/1996' '09/1993' '12/1994'
 '11/2000' '08/1995' '11/1995' '03/1999' '09/1997' '07/1991' '08/1998'
 '01/1998']
--------------------------------------------------
Column 'Year PIN last Changed' has 19 unique values:
[2008 2014 2004 2012 2011 2015 2009 2007 2010 2019 2017 2016 2013 2020
 2018 2006 2003 2005 2002]
--------------------------------------------------
Column 'Amount' has 10475 unique values:
[  84600.   72100.    3300. ... -358700.  814000.  770800.]
--------------------------------------------------
Column 'Whether Security Chip is Used' has 3 unique values:
[0 1 2]
--------------------------------------------------
Column 'Error Message' has 19 unique values:
[nan 'Insufficient Balance' 'Bad PIN' 'Technical Glitch' 'Bad Expiration'
 'Bad CVV' 'Bad Card Number' 'Bad Card Number,Insufficient Balance'
 'Bad Card Number,Bad CVV' 'Insufficient Balance,Technical Glitch'
 'Bad Zipcode' 'Bad CVV,Insufficient Balance'
 'Bad Card Number,Bad Expiration' 'Bad PIN,Technical Glitch'
 'Bad PIN,Insufficient Balance' 'Bad Expiration,Insufficient Balance'
 'Bad Card Number,Technical Glitch' 'Bad Expiration,Technical Glitch'
 'Bad Expiration,Bad CVV']
--------------------------------------------------
Column 'Is Fraud?' has 2 unique values:
['No' 'Yes']
--------------------------------------------------

In [35]:

# 범주형 변수 라벨링
data['Has Chip'] = data['Has Chip'].map({True: 1, False: 0})
data['Is Fraud?'] = data['Is Fraud?'].map({'Yes': 1, 'No': 0})

# 범주형 변수 라벨링 추가
data['Card Brand'] = data['Card Brand'].map({'Visa': 0, 'Mastercard': 1, 'Others': 2})
data['Card Type'] = data['Card Type'].map({'Debit': 0, 'Credit': 1, 'Debit (Prepaid)': 2})

# 'Error Message'의 NaN 값을 0으로, 나머지 값을 1번부터 라벨링
data['Error Message'] = data['Error Message'].fillna('No Error')
data['Error Message'], error_message_unique = pd.factorize(data['Error Message'])
data['Error Message'] = data['Error Message'].map(lambda x: 0 if error_message_unique[x] == 'No Error' else x + 1)

# 변환된 데이터 확인
print(data.head())

# 라벨링 표 생성
label_mapping = {
    'Has Chip': {1: 'True', 0: 'False'},
    'Is Fraud?': {1: 'Yes', 0: 'No'},
    'Card Brand': {0: 'Visa', 1: 'Mastercard', 2: 'Others'},
    'Card Type': {0: 'Debit', 1: 'Credit', 2: 'Debit (Prepaid)'},
    'Error Message': {i + 1 if value != 'No Error' else 0: value for i, value in enumerate(error_message_unique)}
}

# 라벨링 표 출력
for column, mapping in label_mapping.items():
    print(f"Column '{column}' Label Mapping:")
    for key, value in mapping.items():
        print(f"{key}: '{value}'")
    print("-" * 50)

   User  Gender  Current Age  Retirement Age  Birth Year  Birth Month  \
0     0       0           53              66        1966           11
1     0       0           53              66        1966           11
2     0       0           53              66        1966           11
3     0       0           53              66        1966           11
4     0       0           53              66        1966           11

   Zipcode  Per Capita Income - Zipcode  Yearly Income    Total Debt  ...  \
0   8250.0                     17420410     52077100.0  9.088794e+07  ...
1   8250.0                     17420410     52077100.0  9.088794e+07  ...
2   8250.0                     17420410     52077100.0  9.088794e+07  ...
3   8250.0                     17420410     52077100.0  9.088794e+07  ...
4   8250.0                     17420410     52077100.0  9.088794e+07  ...

    Card Number  Expires  Has Chip  Credit Limit  Acct Open Date  \
0  5.655323e+15  12/2022         1      14455525         09/2002
1  5.655323e+15  12/2022         1      14455525         09/2002
2  5.655323e+15  12/2022         1      14455525         09/2002
3  5.655323e+15  12/2022         1      14455525         09/2002
4  5.655323e+15  12/2022         1      14455525         09/2002

   Year PIN last Changed    Amount  Whether Security Chip is Used  \
0                   2008   84600.0                              0
1                   2008   72100.0                              0
2                   2008    3300.0                              1
3                   2008   56800.0                              0
4                   2008  104600.0                              0

   Error Message Is Fraud?
0              0         0
1              0         0
2              0         0
3              0         0
4              0         0

[5 rows x 28 columns]
Column 'Has Chip' Label Mapping:
1: 'True'
0: 'False'
--------------------------------------------------
Column 'Is Fraud?' Label Mapping:
1: 'Yes'
0: 'No'
--------------------------------------------------
Column 'Card Brand' Label Mapping:
0: 'Visa'
1: 'Mastercard'
2: 'Others'
--------------------------------------------------
Column 'Card Type' Label Mapping:
0: 'Debit'
1: 'Credit'
2: 'Debit (Prepaid)'
--------------------------------------------------
Column 'Error Message' Label Mapping:
0: 'No Error'
2: 'Insufficient Balance'
3: 'Bad PIN'
4: 'Technical Glitch'
5: 'Bad Expiration'
6: 'Bad CVV'
7: 'Bad Card Number'
8: 'Bad Card Number,Insufficient Balance'
9: 'Bad Card Number,Bad CVV'
10: 'Insufficient Balance,Technical Glitch'
11: 'Bad Zipcode'
12: 'Bad CVV,Insufficient Balance'
13: 'Bad Card Number,Bad Expiration'
14: 'Bad PIN,Technical Glitch'
15: 'Bad PIN,Insufficient Balance'
16: 'Bad Expiration,Insufficient Balance'
17: 'Bad Card Number,Technical Glitch'
18: 'Bad Expiration,Technical Glitch'
19: 'Bad Expiration,Bad CVV'
--------------------------------------------------

In [36]:
data

,User,Gender,Current Age,Retirement Age,Birth Year,Birth Month,Zipcode,Per Capita Income - Zipcode,Yearly Income,Total Debt,...,Card Number,Expires,Has Chip,Credit Limit,Acct Open Date,Year PIN last Changed,Amount,Whether Security Chip is Used,Error Message,Is Fraud?
0,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,5.655323e+15,12/2022,1,14455525,09/2002,2008,84600.0,0,0,0
1,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,5.655323e+15,12/2022,1,14455525,09/2002,2008,72100.0,0,0,0
2,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,5.655323e+15,12/2022,1,14455525,09/2002,2008,3300.0,1,0,0
3,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,5.655323e+15,12/2022,1,14455525,09/2002,2008,56800.0,0,0,0
4,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,5.655323e+15,12/2022,1,14455525,09/2002,2008,104600.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644763,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,5.005989e+15,12/2020,1,8568000,05/2017,2017,25500.0,0,0,0
1644764,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,5.005989e+15,12/2020,1,8568000,05/2017,2017,17900.0,1,0,0
1644765,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,5.005989e+15,12/2020,1,8568000,05/2017,2017,2700.0,1,0,0
1644766,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,5.005989e+15,12/2020,1,8568000,05/2017,2017,45500.0,0,0,0
1644767,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,5.005989e+15,12/2020,1,8568000,05/2017,2017,27400.0,0,0,0

# 날짜 데이터 관련 처리 -> 날짜 형식을 날짜 데이터에 맞게 처리함

In [37]:
# day=1을 기본으로 설정하여 연월 데이터만 있는 경우에도 datetime으로 변환
df=data
# Expires와 Acct Open Date 컬럼을 datetime 형식으로 변환 (MM/YYYY 형식)
# 변환 후 YYYY-MM 형식으로 포맷팅
df['Expires'] = pd.to_datetime(df['Expires'], format='%m/%Y', errors='coerce').dt.strftime('%Y-%m')
df['Acct Open Date'] = pd.to_datetime(df['Acct Open Date'], format='%m/%Y', errors='coerce').dt.strftime('%Y-%m')

# Year, Month, Day 컬럼을 datetime 형식으로 변환하여 Transaction Date 생성 카드 거래 날짜로 만들어서 사용.
df['Transaction Date'] = pd.to_datetime(df[['Year', 'Month', 'Day']].astype(str).agg('-'.join, axis=1), errors='coerce')

# Year PIN last Changed 컬럼을 datetime 형식으로 변환하고, 연도만 필요하므로 day와 month를 기본 값으로 설정
df['Year PIN last Changed'] = pd.to_datetime(df['Year PIN last Changed'].astype(str) + '-01-01', errors='coerce').dt.date

# 변환된 데이터프레임을 확인
print(df[['Expires', 'Acct Open Date', 'Transaction Date', 'Year PIN last Changed']].head())

   Expires Acct Open Date Transaction Date Year PIN last Changed
0  2022-12        2002-09       2018-01-02            2008-01-01
1  2022-12        2002-09       2018-01-05            2008-01-01
2  2022-12        2002-09       2018-01-05            2008-01-01
3  2022-12        2002-09       2018-01-06            2008-01-01
4  2022-12        2002-09       2018-01-11            2008-01-01

In [39]:
df

,User,Gender,Current Age,Retirement Age,Birth Year,Birth Month,Zipcode,Per Capita Income - Zipcode,Yearly Income,Total Debt,...,Expires,Has Chip,Credit Limit,Acct Open Date,Year PIN last Changed,Amount,Whether Security Chip is Used,Error Message,Is Fraud?,Transaction Date
0,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,84600.0,0,0,0,2018-01-02
1,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,72100.0,0,0,0,2018-01-05
2,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,3300.0,1,0,0,2018-01-05
3,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,56800.0,0,0,0,2018-01-06
4,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,104600.0,0,0,0,2018-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644763,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,25500.0,0,0,0,2018-12-30
1644764,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,17900.0,1,0,0,2018-12-30
1644765,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,2700.0,1,0,0,2018-12-31
1644766,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,45500.0,0,0,0,2018-12-31
1644767,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,27400.0,0,0,0,2018-12-31

In [40]:
# 저장하는 것
# df.to_csv('Processed_data.csv',index=False)

# 내가 생각하기에는 각 유저가 사기를 당한 시점의 특성들 중에서 공통적으로 엮이는 특성이 있는지 그리고 그것이 사기가 안 당한 사람한테 실제로 반대로 작용했는지가 보고 싶고, 게다가 클래스가 불균형하다는 문제점이 있기 때문에

In [51]:
# 유저별 사기 거래 횟수 및 비율 계산
user_fraud_counts = df.groupby('User')['Is Fraud?'].value_counts(normalize=True).unstack(fill_value=0)
user_fraud_counts

Is Fraud?         0         1
User
0          1.000000  0.000000
1          1.000000  0.000000
2          0.991529  0.008471
3          1.000000  0.000000
4          1.000000  0.000000
...             ...       ...
1995       1.000000  0.000000
1996       0.991570  0.008430
1997       0.993263  0.006737
1998       1.000000  0.000000
1999       1.000000  0.000000

[1509 rows x 2 columns]

In [54]:
# 각 유저별로 사기 거래가 발생한 시점 및 거래 특성 확인
fraud_transactions = df[df['Is Fraud?'] == 1].sort_values(by=['User', 'Transaction Date'])
fraud_transactions

,User,Gender,Current Age,Retirement Age,Birth Year,Birth Month,Zipcode,Per Capita Income - Zipcode,Yearly Income,Total Debt,...,Expires,Has Chip,Credit Limit,Acct Open Date,Year PIN last Changed,Amount,Whether Security Chip is Used,Error Message,Is Fraud?,Transaction Date
2472,2,0,81,67,1938,11,8208.0,13495195,27915400.0,1.177827e+05,...,2023-07,0,16350600,2002-03,2008-01-01,8000.0,2,0,1,2018-01-10
2473,2,0,81,67,1938,11,8208.0,13495195,27915400.0,1.177827e+05,...,2023-07,0,16350600,2002-03,2008-01-01,198500.0,2,0,1,2018-01-10
2474,2,0,81,67,1938,11,8208.0,13495195,27915400.0,1.177827e+05,...,2023-07,0,16350600,2002-03,2008-01-01,1200.0,2,0,1,2018-01-10
2475,2,0,81,67,1938,11,8208.0,13495195,27915400.0,1.177827e+05,...,2023-07,0,16350600,2002-03,2008-01-01,-0.0,2,0,1,2018-01-10
2476,2,0,81,67,1938,11,8208.0,13495195,27915400.0,1.177827e+05,...,2023-07,0,16350600,2002-03,2008-01-01,3200.0,2,0,1,2018-01-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642027,1997,0,47,67,1973,1,92799.0,9029125,14744200.0,3.646652e+07,...,2024-01,1,4105500,2000-11,2013-01-01,47600.0,0,0,1,2018-06-27
1642029,1997,0,47,67,1973,1,92799.0,9029125,14744200.0,3.646652e+07,...,2024-01,1,4105500,2000-11,2013-01-01,51000.0,0,0,1,2018-06-27
1642030,1997,0,47,67,1973,1,92799.0,9029125,14744200.0,3.646652e+07,...,2024-01,1,4105500,2000-11,2013-01-01,200.0,0,0,1,2018-06-27
1642033,1997,0,47,67,1973,1,92799.0,9029125,14744200.0,3.646652e+07,...,2024-01,1,4105500,2000-11,2013-01-01,100200.0,0,0,1,2018-07-02
1642036,1997,0,47,67,1973,1,92799.0,9029125,14744200.0,3.646652e+07,...,2024-01,1,4105500,2000-11,2013-01-01,104700.0,0,0,1,2018-07-05

In [55]:
# 유저별 사기 거래 비율 확인
user_fraud_ratio = fraud_transactions.groupby('User')['Is Fraud?'].count() / df.groupby('User')['Is Fraud?'].count()
user_fraud_ratio

User
0            NaN
1            NaN
2       0.008471
3            NaN
4            NaN
          ...
1995         NaN
1996    0.008430
1997    0.006737
1998         NaN
1999         NaN
Name: Is Fraud?, Length: 1509, dtype: float64