## 1. 유저끼리 묶어서 사기에 존재 여부에 따른 feature 비교
## 2. 사기 유저, 사기 아닌 유저 끼리의 공통적인 feature를 가지고 있는지 확인해볼 필요 존재함.

# 여기서 조금 중요한 건 각 유저별로 계속 사기를 당한 게 아니라 어느 시점에서 생긴건데 그게 어떻게 생긴건지 잘 모르곘어.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('Processed_data.csv')
df

,User,Gender,Current Age,Retirement Age,Birth Year,Birth Month,Zipcode,Per Capita Income - Zipcode,Yearly Income,Total Debt,...,Expires,Has Chip,Credit Limit,Acct Open Date,Year PIN last Changed,Amount,Whether Security Chip is Used,Error Message,Is Fraud?,Transaction Date
0,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,84600.0,0,0,0,2018-01-02
1,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,72100.0,0,0,0,2018-01-05
2,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,3300.0,1,0,0,2018-01-05
3,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,56800.0,0,0,0,2018-01-06
4,0,0,53,66,1966,11,8250.0,17420410,52077100.0,9.088794e+07,...,2022-12,1,14455525,2002-09,2008-01-01,104600.0,0,0,0,2018-01-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644763,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,25500.0,0,0,0,2018-12-30
1644764,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,17900.0,1,0,0,2018-12-30
1644765,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,2700.0,1,0,0,2018-12-31
1644766,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,45500.0,0,0,0,2018-12-31
1644767,1999,0,21,60,1998,11,96946.0,19233375,45396400.0,8.402202e+07,...,2020-12,1,8568000,2017-05,2017-01-01,27400.0,0,0,0,2018-12-31

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1644768 entries, 0 to 1644767
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   User                           1644768 non-null  int64
 1   Gender                         1644768 non-null  int64
 2   Current Age                    1644768 non-null  int64
 3   Retirement Age                 1644768 non-null  int64
 4   Birth Year                     1644768 non-null  int64
 5   Birth Month                    1644768 non-null  int64
 6   Zipcode                        1644768 non-null  float64
 7   Per Capita Income - Zipcode    1644768 non-null  int64
 8   Yearly Income                  1644768 non-null  float64
 9   Total Debt                     1644768 non-null  float64
 10  Credit Score                   1644768 non-null  int64
 11  Year                           1644768 non-null  int64
 12  Month                          1644768 non-null  int64
 13  Day                            1644768 non-null  int64
 14  Merchandise Code               1644768 non-null  int64
 15  Card                           1644768 non-null  int64
 16  Card Brand                     1644768 non-null  int64
 17  Card Type                      1644768 non-null  int64
 18  Card Number                    1644768 non-null  float64
 19  Expires                        1644768 non-null  object
 20  Has Chip                       1644768 non-null  int64
 21  Credit Limit                   1644768 non-null  int64
 22  Acct Open Date                 1644768 non-null  object
 23  Year PIN last Changed          1644768 non-null  object
 24  Amount                         1644768 non-null  float64
 25  Whether Security Chip is Used  1644768 non-null  int64
 26  Error Message                  1644768 non-null  int64
 27  Is Fraud?                      1644768 non-null  int64
 28  Transaction Date               1644768 non-null  object
dtypes: float64(5), int64(20), object(4)
memory usage: 363.9+ MB

In [12]:
fraud_count = df['Is Fraud?'].sum()
print('전처리한 데이터의 사기탐지 개수',fraud_count)

data = pd.read_csv('/Users/gidaseul/Documents/GitHub/DS/datas/train.csv')
data['Is Fraud?'] = data['Is Fraud?'].map({'Yes': 1, 'No': 0})
fraud_count_d = data['Is Fraud?'].sum()
print('원본 데이터의 사기탐지 개수',fraud_count_d)

전처리한 데이터의 사기탐지 개수 2321
원본 데이터의 사기탐지 개수 2321

   UserID        Variable  Correlation
0       0          Gender          NaN
1       0     Current Age          NaN
2       0  Retirement Age          NaN
3       0      Birth Year          NaN
4       0     Birth Month          NaN